<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="about content">
        <h2>Contact Us</h2>
        <a href="https://github.com/Amitkumar9199/">
            <p>
                Github Repository
            </p>
        </a>
        <p>Email at : ramanujaamit@gmail.com</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>